.*
.DS_Store
!.gitkeep
!.gitignore
!.npmignore
!.editorconfig
!.eslintignore
!.eslintrc
!.eslintrc.js
!.eslintrc.yml
!.prettierignore
!.flowconfig
!.travis.yml
!.coveralls.yml
!.istanbul.yml
!.npmrc
!.vscode
!.prettierrc

logs
*.log

node_modules

coverage/
